.row
  .large-3.columns
    ul.side-nav
      li
        a(href="#") Overview

      li
        a(href="#") Typography

      li
        a(href="#") Colors

  .large-9.columns
    section#overview
      h1 Overview

      .alert-box.info.radius(data-alert)
        | <strong>BETA</strong> This section is currently under development.

      p
        | The PICS brand is more than just a name.  It's a set of values, attributes and artwork that reflects the spirit of our company.  USing it consistently will reinforce our strategic positioning and build brand recognition.

    section#typography
      h1 Typography

      .alert-box.info.radius(data-alert)
        | <strong>BETA</strong> This section is currently under development.

      p
        | When producing materials for the web, PICS takes in consideration the different browsers and operating systems.

      p
        | To maintain a branded and recognizable look, we must use our recommended web safe fonts that are widely available and always declare a fail-safe system font.

      p
        | For main titles and copy we use <code>"Franklin Gothic Medium Condensed"</code>

      p
        | For print and web body copy we use <code>"Helvetica Regular"</code>

    section#overview
      h1 Overview

      .alert-box.info.radius(data-alert)
        | <strong>BETA</strong> This section is currently under development.

      .example
        p
          | <strong>However, the font-family used by default is the same as Twitter Bootstrap (listed below):</strong>

        pre.prettyprint.linenums.
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        span.uppercase abcdefghijklmnopqrstuvwxyz
        span.lowercase abcdefghijklmnopqrstuvwxyz

    section#colors
      h1 Colors

      .alert-box.info.radius(data-alert)
        | <strong>BETA</strong> This section is currently under development.

      ul.unstyled.colors
        li
          a.pics-blue(
            href="https://alpha.picsorganizer.com/FrontendDevelopmentGuide!style_guide.action#"
            title="PICS Blue"
          ) PICS Blue

        li
          a.burnt-orange(
            href="https://alpha.picsorganizer.com/FrontendDevelopmentGuide!style_guide.action#"
            title="Burnt Orange"
          ) Burnt Orange

        li
          a.light-blue(
            href="https://alpha.picsorganizer.com/FrontendDevelopmentGuide!style_guide.action#"
            title="LHT Blue"
          ) LHT Blue

        li
          a.warm-grey(
            href="https://alpha.picsorganizer.com/FrontendDevelopmentGuide!style_guide.action#"
            title="Warm Grey"
          ) Warm Grey

        li
          a.cool-grey(
            href="https://alpha.picsorganizer.com/FrontendDevelopmentGuide!style_guide.action#"
            title="Cool Grey"
          ) Cool Grey

        table.table.table-striped
          tbody
            tr
              th Color
              th Pantone
              th CMYK
              th RGB
              th Hex

            tr
              td PICS Blue
              td Pantone Black 6 C 85%
              td C85 M30 Y0 K85
              td R0 G36 B35
              td #002441

            tr
              td Burnt Orange
              td 174 C
              td C0 M70 Y100 K36
              td R168 G77 B16
              td #a84d10

            tr
              td LHT Blue
              td 299 C 60%
              td C51 M11 Y0 K0
              td R115 G187 B232
              td #73bbe8

            tr
              td Warm Grey
              td Process Black 60%
              td C0 M0 Y0 K60
              td R128 G130 B133
              td #808285

            tr
              td Cool Grey
              td Process Black 5%
              td C0 M0 Y0 K5
              td R241 G241 B242
              td #f1f1f2
