nav.top-bar(data-topbar)
  ul.title-area
    li.name
      h1
        a(href="#")
          img(src="img/logo-icon.svg")

  section.top-bar-section
    ul.right
      li.has-form
        form(
          id="search_form"
          name="search_form"
        )
          input(
            autocomplete="off"
            name="term"
            placeholder="Search"
            type="text"
          )

      li.divider

      li
        a(href="#")
          | Carey Hinoki
          | &nbsp;
          i.fa.fa-cog

    ul.left
      li
        a(href="#") Company

      li
        a(href="#") Reports

      li
        a(href="#") Manage

      li
        a(href="#") Configure

      li
        a(href="#") Dev

      li
        a(href="#") Support
